<!-- Services Section -->
<section id="program">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Program</h2>
            </div>
        </div>
        <!--background color-->
        <script type="text/javascript">
            document.write ('<body style="background: Gainsboro; background-attachment: fixed;">')
        </script>

    <div class="event black-frame">   
          <h2><center>8/22 Thursday (Building #14, B101)</center></h2>
          <table border="2" bordercolor="green" width ="100%" height="100" align = "center" >
            <tr align = "center" bgcolor="green">
            <td><center>Time</center></td>
            <td><center>Activities</center></td>
            <td><center></center></td>
            </tr>
            <tr>
            <td><center>14:00 - 14:10 </center></td>
            <td><center>Welcome</center></td>
            <td><center></center></td>
            </tr>
            <tr>
            <td><center>14:10 - 15:00 </center></td>
            <td><center><b>James Anderson "From Aristotle to William James to Deep Learning : Everything Old is New Again"</b><a href="#James-Anderson" class="speakers-link" data-toggle="modal">[Abstract & Bio]</a><br/>Professor of Cognitive, Linguistic and Psychological Sciences at Brown University</center></td>
            <td><center><img src = "../css/2017_style/img/speaker/James-Anderson.jpg" width = 100 height = 100></center></td>
            </tr>
            <tr>
            <td><center>15:00 - 15:50 </center></td>
            <td><center><b>Helge Ritter "The Tactile DImension of Cognition : From Humans to Robots and Back"</b><a href="#Helge-Ritter" class="speakers-link" data-toggle="modal">[Abstract & Bio]</a><br/>Director of Cognitive Interaction Technology Excellence Center, University of Bielefeld</center></td>
            <td><center><img src = "../css/2017_style/img/speaker/Helge-Ritter.jpg" width = 100 height = 100></center></td>
            </tr>
            <tr>
            <td><center>15:50 - 16:20 </center></td>
            <td><center>Break</center></td>
            <td><center></center></td>
            </tr>
            <tr>
            <td><center>16:20 - 17:10 </center></td>
            <td><center><b>Kenji Doya "Neural Circuits for Mental Simulation"</b><a href="#Kenji-Doya" class="speakers-link" data-toggle="modal">[Abstract & Bio]</a><br/>Professor of Neural Computation Unit at Okinawa Institute of Sci & Tech (Japan)</center></td>
            <td><center><img src = "../css/2017_style/img/speaker/Kenji-Doya.jpg" width = 100 height = 100></center></td>
            </tr>                  
            <tr>
            <td><center>17:10 - 18:00 </center></td>
            <td><center><b>Round Table : AI & Brain</b><br/>moderator: Inah Lee, discussants: Anderson, Ritter, Doya, Byoung-Task Zhang</center></td>
            <td><center></center></td>
            </tr>                            
        </table>
    
        <h2><center>8/23 Friday (Building #14, B101)</center></h2>
        <table border="2" bordercolor="green" width ="100%" height="100" align = "center" >
          <tr align = "center" bgcolor="green">
          <td><center>Time</center></td>
          <td><center>Activities</center></td>
          <td><center></center></td>
          </tr>
          <tr>
          <td><center>09:30 - 10:10 </center></td>
          <td><center>Registration</center></td>
          <td><center></center></td>
          </tr>
          <tr>
          <td><center>10:10 - 11:00 </center></td>
          <td><center><b>Ken Forbus "Qualitative Representations : How People Reason and Learn Absolute the Continuous World"</b><a href="#Kenneth-D-Forbus" class="speakers-link" data-toggle="modal">[Abstract & Bio]</a><br/>Walter P. Murphy Professor of Computer Science and Professor of Education at Northwestern University</center></td>
          <td><center><img src = "../css/2017_style/img/speaker/Kenneth-D-Forbus.jpg" width = 100 height = 100></center></td>
          </tr>
          <tr>
          <td><center>11:00 - 11:50 </center></td>
          <td><center><b>Bruno Bara "The Neural Network of Intentions in Health and Pathological People"</b><a href="#Bruno-Bara" class="speakers-link" data-toggle="modal">[Abstract & Bio]</a><br/>Professor of Psychology at the University of Turin (Italy)</center></td>
          <td><center><img src = "../css/2017_style/img/speaker/Bruno-Bara.jpg" width = 100 height = 100></center></td>
          </tr>
          <tr>
          <td><center>12:00 - 14:00 </center></td>
          <td><center>Lunch (Lunch will be provided)</center></td>
          <td><center></center></td>
          </tr>
          <tr>
          <td><center>14:00 - 14:50 </center></td>
          <td><center><b>Chen Yu "Magnifying Time : Examining the Multimodal Microdynamics of Parent-Child Interaction and Early Word Learning</b><a href="#Chen-Yu" class="speakers-link" data-toggle="modal">[Abstract & Bio]</a><br/>Professor of Psychological and Brain Science at Indiana University</center></td>
          <td><center><img src = "../css/2017_style/img/speaker/Chen-Yu.jpg" width = 100 height = 100></center></td>
          </tr>                  
          <td><center>14:50 - 15:40 </center></td>
          <td><center><b>Klaus Obermayer "Reward-Based Learning and Decision Making : Experiments & Models"</b><a href="#Klaus-Obermayer" class="speakers-link" data-toggle="modal">[Abstract & Bio]</a><br/>Professor of Bernstein Center for Computational Neuroscience Berlin, TU Berlin</center></td>
          <td><center><img src = "../css/2017_style/img/speaker/Klaus-Obermayer.jpg" width = 100 height = 100></center></td>
          </tr>            
          <tr>
          <td><center>15:40 - 16:00 </center></td>
          <td><center>Break</center></td>
          <td><center></center></td>
          </tr>       
          <td><center>16:00 - 17:30 </center></td>
          <td><center><b>Panel: Cognition & Body</b><br/>moderator: Byoung-Tak Zhang, discussants: Forbus, Bara, Yu, Obermayer, Ritter, Doya</center></td>
          <td><center></center></td>
          </tr>                                   
      </table>
    
      <h2><center>8/24 Saturday (Building #14)</center></h2>
      <table border="2" bordercolor="green" width ="100%" height="100" align = "center" >
        <tr bgcolor="green">
        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Time</td>
        <td><center>Activities</center></td>
        <td width = '300px'></td>
        </tr>
        <tr>
        <td>&nbsp;&nbsp;10:00 - 12:00 </td>
        <td><center>Oral Presentations</center></td>
        <td width = '300px'></td>
        </tr>
        <tr>
        <td>&nbsp;&nbsp;12:00 - 15:00</td>
        <td><center>Lunch (Lunch will be provided) & Posters<br> Note that the size of the Poster Board is A0 (841 x 1189 mm) <br> </center></td>
        <td width = '300px'></td>
        </tr>
        <tr>
        <td>&nbsp;&nbsp;15:00 - 16:00</td>
        <td><center>Oral Presentations</center></td>
        <td width = '300px'></td>
        </tr>          
    </table>
       </div>
       <div style="text-align:right">
    

      </body>
      <style>
    body {
      position: absolute;
      margin: 0;
      min-height: 100%;
      width: 100%;
    }
    
    footer {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
    }
    </style>
    
</section>
