<!-- Services Section -->
<section id="program">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Program</h2>
            </div>
        </div>
        <!--background color-->
        <script type="text/javascript">
            document.write ('<body style="background: Gainsboro; background-attachment: fixed;">')
        </script>

    <div class="event black-frame">   
          <h2><center>8/22 Thrsday</center></h2>
          <table border="1" bordercolor="green" width ="500" height="100" align = "center" >
            <tr align = "center" bgcolor="green">
            <td><center>Time</center></td>
            <td><center>Activities</center></td>
            </tr>
            <tr>
            <td><center>14:00 - 14:10 </center></td>
            <td><center>Welcome</center></td>
            </tr>
            <tr>
            <td><center>14:10 - 15:00 </center></td>
            <td><center>James Anderson</center></td>
            </tr>
            <tr>
            <td><center>15:00 - 15:50 </center></td>
            <td><center>Helge Ritter</center></td>
            </tr>
            <tr>
                <td><center>15:50 - 16:20 </center></td>
                <td><center>Break</center></td>
                </tr>
            <tr>
            <td><center>16:20 - 17:10 </center></td>
            <td><center>Kenji Doya</center></td>
            </tr>                  
            <tr>
                <td><center>17:10 - 18:00 </center></td>
                <td><center>Round Table : AI & Brain</center></td>
                </tr>                            
        </table>
    
        <h2><center>8/23 Friday</center></h2>
        <table border="1" bordercolor="green" width ="500" height="100" align = "center" >
          <tr align = "center" bgcolor="green">
          <td><center>Time</center></td>
          <td><center>Activities</center></td>
          </tr>
          <tr>
          <td><center>09:30 - 10:10 </center></td>
          <td><center>Registration</center></td>
          </tr>
          <tr>
          <td><center>10:10 - 11:00 </center></td>
          <td><center>Ken Forbus</center></td>
          </tr>
          <tr>
          <td><center>11:00 - 11:50 </center></td>
          <td><center>Bruno Bara</center></td>
          </tr>
          <tr>
          <td><center>12:00 - 14:00 </center></td>
          <td><center>Lunch</center></td>
          </tr>
          <tr>
          <td><center>14:00 - 14:50 </center></td>
          <td><center>Chen Yu</center></td>
          </tr>                  
          <td><center>14:50 - 15:40 </center></td>
          <td><center>Klaus Obermayer</center></td>
          </tr>            
          <tr>
          <td><center>15:40 - 16:00 </center></td>
          <td><center>Break</center></td>
          </tr>       
          <td><center>16:00 - 17:30 </center></td>
          <td><center>Panel: Cognition & Body</center></td>
          </tr>                                   
      </table>
    
      <h2><center>8/24 Saturday</center></h2>
      <table border="1" bordercolor="green" width ="500" height="100" align = "center" >
        <tr align = "center" bgcolor="green">
        <td><center>Time</center></td>
        <td><center>Activities</center></td>
        </tr>
        <tr>
        <td><center>10:00 - 12:00 </center></td>
        <td><center>Oral Presentations</center></td>
        </tr>
        <tr>
        <td><center>12:00 - 15:00 </center></td>
        <td><center>Lunch & Posters</center></td>
        </tr>
        <tr>
        <td><center>15:00 - 16:00 </center></td>
        <td><center>Oral Presentations</center></td>
        </tr>          
    </table>
       </div>
    
      </body>
      <style>
    body {
      position: absolute;
      margin: 0;
      min-height: 100%;
      width: 100%;
    }
    
    footer {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
    }
    </style>
    
</section>